*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-webkit-keyframes contentIn {
  0% {
    opacity: 0;
    left: 2rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes contentIn {
  0% {
    opacity: 0;
    left: 2rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@-webkit-keyframes contentIn2 {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes contentIn2 {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@-webkit-keyframes contentIn3 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentIn3 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes contentExpand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes contentExpand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes contentOut {
  0% {
    opacity: 1;
    left: 0rem;
  }
  100% {
    opacity: 0;
    left: -2rem;
  }
}

@keyframes contentOut {
  0% {
    opacity: 1;
    left: 0rem;
  }
  100% {
    opacity: 0;
    left: -2rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: Audiowide, sans-serif;
  background-color: #0A0A0A;
  color: #008C8C;
}

h1 {
  font-size: 7rem;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  color: #0A0A0A;
}

h2 {
  color: #00BEBE;
  font-size: 3rem;
  margin-left: 2rem;
  font-weight: 500;
}

p {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

a,
a:link,
a:visited {
  color: #008C8C;
  text-decoration: none;
}

.header__sign {
  -webkit-transform: translateY(5.9rem);
          transform: translateY(5.9rem);
}

.container {
  height: 10rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#008C8C), to(#00BEBE));
  background-image: linear-gradient(to left, #008C8C, #00BEBE);
  margin: 5rem 0 0 0;
  padding: 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  width: 80%;
}

.content__about {
  position: relative;
  -webkit-animation: contentIn2 0.2s;
          animation: contentIn2 0.2s;
  display: block;
}

.content__projects {
  position: relative;
  -webkit-animation: contentIn2 0.2s;
          animation: contentIn2 0.2s;
}

.content__contact {
  position: relative;
  -webkit-animation: contentIn2 0.2s;
          animation: contentIn2 0.2s;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  line-height: 5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5rem 5rem 0 0;
  text-align: end;
  -webkit-animation: contentIn 1s;
          animation: contentIn 1s;
}

.navigation__button {
  display: inline-block;
  position: relative;
  color: #008C8C;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation__button:after {
  content: '';
  position: absolute;
  width: 120%;
  padding-right: 0rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: #00BEBE;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.navigation__button:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.navigation__button:hover {
  cursor: pointer;
  color: #00BEBE;
  padding-right: 0.5rem;
}

.project {
  margin-right: 4rem;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__button {
  padding: 1.5rem;
  margin: 0 1rem;
  width: 13rem;
  border-radius: 1rem;
  border: #0A0A0A solid 0.2rem;
}

.project__button:hover, .project__button:focus {
  cursor: pointer;
  border: #00BEBE solid 0.2rem;
  border-radius: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project__button:hover .project__img, .project__button:focus .project__img {
  border-bottom: solid #00BEBE 2px;
  border-top: solid #00BEBE 2px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.project__img {
  width: 13rem;
  height: 13rem;
  border-radius: 1rem;
  border-bottom: solid #008C8C 2px;
  border-top: solid #008C8C 2px;
}

.project__description {
  text-align: center;
}

.title {
  font-size: 5rem;
  margin-top: -4.9rem;
}

.hidden {
  opacity: 0;
  -webkit-animation: contentOut 0.2s;
          animation: contentOut 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: none;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem 0 0;
  margin: 2rem 1rem 0 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3rem;
  -webkit-box-shadow: inset 3px 0px 0px 3px #00BEBE;
          box-shadow: inset 3px 0px 0px 3px #00BEBE;
  -webkit-animation: contentExpand 0.5s;
          animation: contentExpand 0.5s;
  max-height: 30rem;
}

.about__img {
  height: 30rem;
  border-radius: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: solid #00BEBE 3px;
  border-top: solid #00BEBE 3px;
}

.about__text {
  margin: 1rem;
  -webkit-animation: contentIn3 0.6s;
          animation: contentIn3 0.6s;
  overflow: hidden;
}

.contact {
  margin: 5rem;
  max-width: 60%;
  text-align: center;
}

.contact__text {
  margin: 2rem;
}

.contact__icon {
  font-size: 5rem;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.contact__icon:hover {
  color: #00BEBE;
}

.contact__mail {
  font-size: 2rem;
}

.clearfix {
  overflow: auto;
}
/*# sourceMappingURL=style.css.map */