*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// VARIABLES
$color-dark: #0A0A0A;
$color-primary-light: #00BEBE;
$color-primary-dark: #008C8C;

//ANIMATIONS
@keyframes contentIn {
    0%   {opacity: 0; left:2rem}
    100% {opacity: 1; left:0rem}
  }

  @keyframes contentIn2 {
    0%   {opacity: 0; left:-100%}
    100% {opacity: 1; left:0rem}
    
  }
  @keyframes contentIn3 {
    0%   {opacity: 0}
    90% {opacity: 0}
    100% {opacity: 1}
  }

  @keyframes contentIn4 {
    0%   {opacity: 0}
    100% {opacity: 1}
  }

  @keyframes contentExpand {
    0%   {width: 0}
    100% {width: 100%}
  }

@keyframes contentOut {
    0%   {opacity: 1; left:0rem}
    100% {opacity: 0; left:-2rem}
}

//RESPOND
@mixin respond($breakpoint) {
    @if $breakpoint == small-phone {
        @media only screen and (max-width: 28.125em) { @content } //450px
    };
    @if $breakpoint == phone {
        @media only screen and (max-width: 38.75em) { @content } //620px
    };
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 53.75em) { @content } //860px
    };
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 68.75em) { @content } //1100px
    };
    @if $breakpoint == desktop {
        @media only screen and (max-width: 78.125em) { @content } //1250px
    };
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 106.25em) { @content } //1800px
    }
}

//PAGE
html {
    font-size: 62.5%;

    @include respond(tab-land) { //width < 1200
        font-size: 56.25%; // 1rem = 9px;
    }

    @include respond(tab-port) { // width < 900
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px;
    }
}

body {
    font-family: Audiowide, sans-serif;
    background-color: $color-dark;
    color: $color-primary-dark;

}

footer {
    margin-bottom: 5rem;
}

h1 {
    font-size: 7rem;
    transform: translateY(2rem);
    color: $color-dark;
    @include respond(phone) { //width < 1100
        font-size: 5.5rem;
        transform: translateY(1.7rem);
    }
    @include respond(small-phone) { //width < 1100
        font-size: 4.5rem;
        transform: translateY(1.3rem);
    }
}

h2 {
    color: $color-primary-light;
    font-size: 3rem;
    margin-left: 2rem;
    font-weight: 500;
    @include respond(phone) { //width < 1100
        font-size: 2.5rem;
    }
}

p {
    font-size: 1.5rem;
    @include respond(tab-port) { //width < 1100
        font-size: 3rem;
        text-align: justify;
    }
}

ul {
    list-style-type: none;
    list-style: none outside;
    @include respond(tab-land) { //width < 1200
        display: flex;
    }
}

a,
a:link,
a:visited {
    color: $color-primary-dark;
    text-decoration: none;
}

span {
    color:#00BEBE;
}

.header {
    &__sign {
        transform: translateY(3.9rem);
        @include respond(small-phone) { //width < 1200
            transform: translateY(3.7rem);

        }
    }
}

.container {
    height: 8rem;
    // background-color: rgb(0, 140, 140);
    background-image: linear-gradient(
        to left,
        $color-primary-dark,
        $color-primary-light
        );
    margin: 3rem 0 0 0;
    padding: 0 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include respond(phone) { //width < 1200
        text-align: center;
        justify-content: center;
        padding: 0;
    }
}

.center {
    display: flex;
    justify-content: space-between;
    @include respond(tab-land) { //width < 1200
        flex-direction: column-reverse;
    }

}

.content {
    width: 80%;
    height: 40%;
    @include respond(tab-land) { //width < 1200
        margin: auto;
    }
    @include respond(tab-port) { //width < 1100
        width: 100%;
    }
    
    &__about {
        position: relative;
        animation: contentIn2 0.2s;
        display: block;
        @include respond(tab-land) { //width < 1200
            animation: contentIn4 0.3s;
            }
            
    }
    &__projects {
        position: relative;
        animation: contentIn2 0.2s;
        @include respond(tab-land) { //width < 1200
            animation: contentIn4 0.3s;
            }
    }
    &__contact {
        position: relative;
        animation: contentIn2 0.2s;
        @include respond(tab-land) { //width < 1200
            text-align: center;
            animation: contentIn4 0.3s;
            }
    }
}

.navigation {
    width: 20%;
    position: relative;
    display: flex;
    font-size: 3rem;
    line-height: 5rem;
    justify-content: flex-end;
    padding: 5rem 5rem 0 0;
    text-align: end;
    animation: contentIn 1s;
    @include respond(tab-land) { //width < 1200
        align-self: flex-end;
    }
    @include respond(tab-port) { //width < 1200
        width:100%;
        align-self:center;
        padding: 5rem 0 0 0;
        text-align: center;
    }
    @include respond(phone) { // width < 900
        justify-content: space-evenly;
        margin: auto;
        width: 16rem;
        font-size: 2.5rem;
    }
    

    &__button {
        display: inline-block;
        position: relative;
        color: $color-primary-dark;
        transition: all 0.2s;
        @include respond(tab-land) { //width < 1200
            width: 20rem;
            text-align: center;
            transform:translateY(-18.5rem);
        }
        @include respond(tab-port) { // width < 900
            text-align: center;
            transform:translateY(-3rem);
        }
        @include respond(phone) { // width < 900
            text-align: center;
            width: 14rem;
            font-size: 2.5rem;
        }
        @include respond(small-phone) { //width < 1100
            width: 12rem;
            font-size: 2rem;
        }
         
        &:after {
            content: '';
            position: absolute;
            width: 120%;
            padding-right: 0rem;
            transform: scaleX(0);
            height: 3px;
            bottom: 5px;
            right: 11%;
            background-color: $color-primary-light;
            transform-origin: bottom;
            transition: transform 0.25s ease-out;
            @include respond(tab-land) { //width < 1200
                width: 80%;
                bottom: 5px;
                right: 11%;
            }

        }

        &:hover:after {
            transform: scale(1);
            transform-origin: bottom;
        }

        &:hover {
            cursor: pointer;
            color: $color-primary-light;
            padding-right: 0.5rem;
            
            // font-size: 110%;
        }
    }
}

.project {
    margin: auto;
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include respond(desktop) { //width < 1200
        margin: auto;
    }
    @include respond(tab-port) { //width < 1100
       justify-content: space-around;
    }

    &__button {
        padding: 1.5rem;
        margin: 0 1rem;
        width: 13rem;
        border-radius: 1rem;
        border: $color-dark solid 0.2rem;
        @include respond(desktop) { //width < 1200
            width: 10rem;
        }
        @include respond(tab-port) { //width < 1100
            width: 15rem;
        }
        @include respond(phone) { //width < 1100
            width: 30rem;
        }

        
        &:hover {
            cursor: pointer;
            border: $color-primary-light solid 0.2rem;
            border-radius: 1rem;
            // padding: 1.3rem;
            transition: all 0.5s ease;

            & .project__img {
                border-bottom: solid $color-primary-light 2px;
                border-top: solid $color-primary-light 2px;
                transition: all 1s ease;
            }
        }
    }

    &__img {
        width: 13rem;
        height: 13rem;
        border-radius: 1rem;
        border-bottom: solid $color-primary-dark 2px;
        border-top: solid $color-primary-dark 2px;
        @include respond(desktop) { //width < 1200
            width: 10rem;
            height: 10rem;
        }
        @include respond(tab-port) { //width < 1100
            width: 15rem;
            height: 15rem;
        }
        @include respond(phone) { //width < 1100
            width: 30rem;
            height: 30rem;
        }
    }

    &__description {
        text-align: center;
    }
}


.title {
    font-size: 5rem;
    margin-top: -4.9rem;
    @include respond(tab-land) { //width < 1100
        margin-top: -5rem;
    }
    @include respond(tab-port) { //width < 1100
        margin-top: 0rem;
        text-align: center;
    }

}

.hidden {
    opacity: 0;
    animation: contentOut 0.2s;
    transition: all 0.2s;
    display: none;
}
.about {
    display: flex;
    padding: 0 1rem 0 0;
    margin: 2rem 1rem 0 1rem;
    box-sizing: border-box;
    border-radius: 3rem; 
    // box-shadow: inset 3px 0px 0px 3px $color-primary-light;
    animation: contentExpand 0.5s;
    min-height: auto;
    border-top: solid $color-primary-light 3px;
    border-bottom: solid $color-primary-light 3px;
    @include respond(tab-port) { //width < 1100
        flex-direction: column;
        border-top: none;
        border-bottom: none;
    }


    &__img {
        height: 35rem;
        border-radius: 3rem;
        // border-bottom-right-radius: 3rem;
        box-sizing: border-box;
        // border-top-right-radius: 3rem;
        align-self: center;
        @include respond(tab-port) { //width < 1100
            border-top: solid $color-primary-light 3px;
            border-bottom: solid $color-primary-light 3px;
                }
    }

    &__text{
        margin: 1rem;
        animation: contentIn3 0.6s ;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include respond(tab-port) { //width < 1100
            margin: 0;
        }

    }

    &__paragraph {
        margin: 1rem;
        text-indent: 2rem;
        font-size: 1.5rem;
        @include respond(tab-port) { //width < 1100
            font-size: 2rem;
        }
    }
}

.contact {
    margin: auto;
    max-width: 60%;
    text-align: center;
    @include respond(tab-land) { //width < 1100
        margin: auto;
        max-width: 100%;

}
    &__text {
        margin: 2rem;
    }

    &__icon-box {
    }

    &__icon {
        font-size: 5rem;
        transition: all 0.1s ease-in;
        &:hover{
            color: $color-primary-light;
        }
    }

    &__mail {
        font-size: 2rem;
        text-align: center;
        @include respond(tab-port) { //width < 1100
            font-size: 3rem;
        }
    }
}

.clearfix {
    overflow: auto;
  }