*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// VARIABLES
$color-dark: #0A0A0A;
$color-primary-light: #00BEBE;
$color-primary-dark: #008C8C;

//ANIMATIONS
@keyframes contentIn {
    0%   {opacity: 0; left:2rem}
    100% {opacity: 1; left:0rem}
  }

  @keyframes contentIn2 {
    0%   {opacity: 0; left:-100%}
    100% {opacity: 1; left:0rem}
  }
  @keyframes contentIn3 {
    0%   {opacity: 0}
    90% {opacity: 0}
    100% {opacity: 1}
  }

  @keyframes contentExpand {
    0%   {width: 0}
    100% {width: 100%}
  }

@keyframes contentOut {
    0%   {opacity: 1; left:0rem}
    100% {opacity: 0; left:-2rem}
}

//PAGE
html {
    font-size: 62.5%;
}

body {
    font-family: Audiowide, sans-serif;
    background-color: $color-dark;
    color: $color-primary-dark;

}

h1 {
    font-size: 7rem;
    transform: translateY(2rem);
    color: $color-dark;
}

h2 {
    color: $color-primary-light;
    font-size: 3rem;
    margin-left: 2rem;
    font-weight: 500;
}

p {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
}

a,
a:link,
a:visited {
    color: $color-primary-dark;
    text-decoration: none;
}

.header {
    &__sign {
        transform: translateY(5.9rem);
    }
}

.container {
    height: 10rem;
    // background-color: rgb(0, 140, 140);
    background-image: linear-gradient(
        to left,
        $color-primary-dark,
        $color-primary-light
        );
    margin: 5rem 0 0 0;
    padding: 0 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.center {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 80%;
    &__about {
        position: relative;
        animation: contentIn2 0.2s;
        display: block;
    }
    &__projects {
        position: relative;
        animation: contentIn2 0.2s;
    }
    &__contact {
        position: relative;
        animation: contentIn2 0.2s;
    }
}

.navigation {
    position: relative;
    display: flex;
    font-size: 3rem;
    line-height: 5rem;
    justify-content: flex-end;
    padding: 5rem 5rem 0 0;
    text-align: end;
    animation: contentIn 1s;

    &__button {
        display: inline-block;
        position: relative;
        color: $color-primary-dark;
        transition: all 0.2s;
         
        &:after {
            content: '';
            position: absolute;
            width: 120%;
            padding-right: 0rem;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;
            right: 0;
            background-color: $color-primary-light;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &:hover:after {
            transform: scale(1);
            transform-origin: bottom right;
        }

        &:hover {
            cursor: pointer;
            color: $color-primary-light;
            padding-right: 0.5rem;
            // font-size: 110%;
        }
    }
}

.project {
    margin-right: 4rem;
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__button {
        padding: 1.5rem;
        margin: 0 1rem;
        width: 13rem;
        border-radius: 1rem;
        border: $color-dark solid 0.2rem;

        &:hover,
        &:focus {
            cursor: pointer;
            border: $color-primary-light solid 0.2rem;
            border-radius: 1rem;
            // padding: 1.3rem;
            transition: all 0.5s ease;

            & .project__img {
                border-bottom: solid $color-primary-light 2px;
                border-top: solid $color-primary-light 2px;
                transition: all 1s ease;
            }
        }
    }

    &__img {
        width: 13rem;
        height: 13rem;
        border-radius: 1rem;
        border-bottom: solid $color-primary-dark 2px;
        border-top: solid $color-primary-dark 2px;
    }

    &__description {
        text-align: center;
    }
}



.title {
    font-size: 5rem;
    margin-top: -4.9rem;
}

.hidden {
    opacity: 0;
    animation: contentOut 0.2s;
    transition: all 0.2s;
    display: none;
}
.about {
    display: flex;
    padding: 0 1rem 0 0;
    margin: 2rem 1rem 0 1rem;
    box-sizing: border-box;
    border-radius: 3rem; 
    box-shadow: inset 3px 0px 0px 3px $color-primary-light;
    animation: contentExpand 0.5s;
    max-height: 30rem;

    &__img {
        height: 30rem;
        border-radius: 3rem;
        // border-bottom-right-radius: 3rem;
        box-sizing: border-box;
        border-bottom: solid $color-primary-light 3px;
        // border-top-right-radius: 3rem;
        border-top: solid $color-primary-light 3px;
    }

    &__text{
        margin: 1rem;
        animation: contentIn3 0.6s ;
        overflow: hidden;
    }
}

.contact {
    margin: 5rem;
    max-width: 60%;
    text-align: center;
    &__text {
        margin: 2rem;
    }

    &__icon-box {
    }

    &__icon {
        font-size: 5rem;
        transition: all 0.1s ease-in;
        &:hover{
            color: $color-primary-light;
        }
    }

    &__mail {
        font-size: 2rem;
    }
}

.clearfix {
    overflow: auto;
  }